<!DOCTYPE html>
<html>
    <head>
        <title>Autotweet</title>
        <link href='http://fonts.googleapis.com/css?family=Nunito:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Average+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" >
    </head>

    <body>
        <h1>Auto Tweet Logging.</h1>
        <nav>
            <ul>
                {% if user.username %}
                <li>
                    <a href="http://twitter.com/{{ user.username }}" target="_blank">@{{ user.username }}</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'socialauth_begin' 'twitter' %}"> <img src="{{ STATIC_URL }}img/sign-in-with-twitter-gray.png"> </a>
                </li>
                {% endif %}
                </li>
            </ul>
        </nav>
        <section>
            {% if user.username %}
            <h2>tweet now</h2>
            <form method="POST" action="{% url 'twitter-tweet' %}">
                {% csrf_token %}
                {% for field in form %}
                {{ field.errors }}
                <!-- {{ field.label_tag }}: -->
                {{ field }}
                {% endfor %}
                <input type="submit" value="post">
            </form>
            {% endif %}
        </section>
        <div id="transactions">
            <section>
                {% if transactions %}
                <h2>my transaction</h2>
                <ul>
                    {% for transaction in transactions %}
                    <li>
                        <div class="transaction">
                            <form>
                                <textarea name="text" rows="3" cols="47">{{transaction.text}}</textarea>
                                <input type="submit" value="update">
                            </form>
                        </div>
                        {% endfor %}
                    <li>
                        <div class="transaction">
                            <form>
                                <input type="submit" value="more" id="more">
                            </form>
                        </div>
                </ul>
                {% endif %}
            </section>
        </div>
    </body>
</html>