<!DOCTYPE html>
<html>
    <head>
        <title>Autotweet</title>
        <link href='http://fonts.googleapis.com/css?family=Nunito:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Average+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" >
    </head>

    <body>
        <h1> Auto Tweet </h1>
        <nav>
            <ul>
                    {% if user.username %}
                      <li>
                         <a href="http://twitter.com/{{ user.username }}" target="_blank">@{{ user.username }}</a>
                      </li>
                      <li>
                         <a href="{% url 'logout' %}">logout</a>
                      </li>
                    {% else %}
                       <li>
                       	<a href="{% url 'socialauth_begin' 'twitter' %}"> <img src="{{ STATIC_URL }}img/sign-in-with-twitter-gray.png"> </a>
                       </li>
                    {% endif %}
                </li>            </ul>
        </nav>
        <section>
            <h2>start now</h2>
            <form>
                <input type="text" name="account">
                <input type="submit" value="OK">
            </form>
        </section>
    </body>
</html>