* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	background-color: #fafffa;
	font-family: 'Nunito', sans-serif;
	color: #66cc66;
	background: #fcfffc; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #fcfffc 0%, #fdfffd 34%, #fafffa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#fcfffc), color-stop(34%,#fdfffd), color-stop(100%,#fafffa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #fcfffc 0%,#fdfffd 34%,#fafffa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #fcfffc 0%,#fdfffd 34%,#fafffa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #fcfffc 0%,#fdfffd 34%,#fafffa 100%); /* IE10+ */
	background: linear-gradient(45deg,  #fcfffc 0%,#fdfffd 34%,#fafffa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfffc', endColorstr='#fafffa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

section{
	margin-top: 20px;
}

h1 {
	color: #339933;
}

a{
	color: #66cc66;
}

.transaction{
	margin:auto;
	width: 80%;
	padding: 5px 20px 5px 20px;
	/* background-color: #dfffdf; */
	border-bottom: 1px dotted #66CC66;
	
}
textarea{
	vertical-align:bottom;
	border: 1px solid #66CC66;
}
input[type="text"]{
	height: 38px;
	line-height: 38px;
	vertical-align:bottom;
	border: 1px solid #66CC66;
}
input[type="submit"]{
	height: 41px;
	line-height: 41px;
	padding: 0 20px 0 20px;
	border:0;
	color:#DFFFDF;
	background-color:#66cc66;
	font-size: 1em;
}
#more{
	background-color: #cccccc;
}
